.picker-input {
  height: 1.5rem;
  color: #898989;
  text-align: center;
}
.show-day-picker {
  padding: 0.8rem;
  width: 16rem;
  text-align: center;
  border: 1px solid #d7dddb;
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 1px 1px 1px #e7e3e2
}

.day-picker .day-picker-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #797979;
}

.day-picker .day-picker-header button {
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  outline: none;
}

.day-picker .day-picker-header .button-prev {
  background: url('./icons/left-arrow-angle.svg') no-repeat center center;
  background-size: contain;
}

.day-picker .day-picker-header .button-next {
  background: url('./icons/right-arrow-angle.svg') no-repeat center center;
  background-size: contain;
}

.not-show-day-picker {
  display: none;
}

.picker-table {
  margin-top: 0.8rem;
  width: 100%;
  border-collapse: collapse;
}

.picker-table .picker-table-head-tr {
  color: #23c8b2;
}

.picker-table .picker-table-head-tr td {
  padding-bottom: 0.4rem;
}

.picker-table .picker-table-td {
  padding: 0.4rem;
  border: 1px solid #bcefd0;
  cursor: pointer;
  color: #797979;
}

.picker-table .picker-table-empty-td {
  border: 1px solid #bcefd0;
}

.picker-table .picker-table-td:hover {
  background: #23c8b2;
  color: #fff;
}